[submodule "cds-protocol/contracts/lib/forge-std"]
	path = cds-protocol/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cds-protocol/contracts/lib/openzeppelin-contracts"]
	path = cds-protocol/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
